.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    background-color: #428bca;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

.leftWidthMenu{
  margin-left:-86px;
}
div.absolute {
  position: absolute;
  left: 197px;
  width: 200px;
  height: 158px;
  top: 91px;
} 
div.sectionCnt{
  position: absolute;
  left: 345px;
  width: 200px;
  height: 158px;
  top: 91px;
} 
.incomeLabel
{
font-size: 22px;
}
div.sectionCntType {
  position: absolute;
  left: 211px;
  width: 200px;
  height: 158px;
  top: 91px;
}
.onelineControl
{
   display: block;
   float: left;
}
  .marginRgtamt{margin-left: 332px;}
  